@import "compass/css3";

html {
    font-family: 'Roboto Slab', sans-serif;
    background: linear-gradient(#e66465, #9198e5);
    min-height: 100%;
}

body {
    color: white;
}

#Title {
    text-align: center;
}

form {
    text-align: center;
}

.error {
    border: 2px solid red;
    border-radius: 4px;
}

#result {
    display: none;
    margin: 1em auto;
    background: #ffffff;
    padding: 0.1em 0;
    width: 10.5em;
    border-radius: 10px;
    box-shadow: 0px 1px 7px rgba(0,0,0, 0,25);
}

#city {
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(58, 58, 58);
    
    
}

#icon {
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(58, 58, 58);
    
}

#temp {
    font-size: 2em;
    text-align: center;
    display: block;
    margin: -0.5em;
    color: rgb(58, 58, 58);
    
}

#desc {
    display: block;
    text-align: center;
    font-weight: 100;
    color: rgb(58, 58, 58);
}

#minmax {
    color: lighten(#313E48, 20%);
    text-align: center;
    display: block;
    font-weight: 100;
    margin-top: -0.9em;
    color: rgb(58, 58, 58);
}

#Textbox {
    border-radius: 10px;
    padding: 5px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    outline-color: #9198e5;
}

#Textbox:hover {
    border-color: #9198e5;
    box-shadow: 0 0 10px rgba(145, 152, 229, 0.5);
    transform: scale(1.02);
}

#Button {
    background-color: #fff; 
    border: 1px solid #ccc; 
    cursor: pointer;
    padding: 2px;
    border-radius: 100px;
    /* etc... */
  }

#Button:hover {
    background-color: #9198e5;
    color: #fff;
    box-shadow: 0 0 10px rgba(145, 152, 229, 0.5);
    transform: scale(1.1);
}

#Textbox:hover, #Button:hover {
    box-shadow: 0 0 10px rgba(145, 152, 229, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

#Textbox:focus {
    border-color: #9198e5;
    box-shadow: 0 0 10px rgba(145, 152, 229, 0.8);
}
  
.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
}




